.grid{
    display: grid;
}

.justify-grid-start{
    justify-content: start;
}
.justify-grid-content{
    justify-content: center;
}
.align-grid-center{
    align-items: center;
}
.align-grid-start{
    align-items: start;
}
.template-column{
    grid-template-columns: repeat(4, 1fr);
}
.template-column-2{
    grid-template-columns: repeat(2,1fr);
}
.template-column-3{
    grid-template-columns: repeat(3,1fr);
}
.span-4{
    grid-column: span 4;
}
.span-2{
    grid-column: span 2;
}
.grid-column-gap{
    grid-column-gap: 3rem;
}
.gap{
    gap: 3rem;
}